# requirements.txt
fastapi
uvicorn
pymongo
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
python-jose
twilio

# ASR Dependencies
torch
torchaudio
openai-whisper
faster-whisper
transformers
spacy
jiwer
scipy
sounddevice
yt-dlp
ffmpeg-python
python-multipart
deep-translator
IndicTransToolkit
sentencepiece

# TTS Dependencies
TTS
gTTS
pydub
soundfile
parler-tts
numpy<2.0  # Pin to <2.0 for pyworld compatibility

# LID Dependencies
fasttext-wheel
huggingface_hub
requests

# OCR Dependencies
paddlepaddle
paddleocr
opencv-python-headless
